.pagination{
    text-align: center;
    margin-top: 30px;
    color: rgb(6, 6, 6);
}
.pagination button{
    padding: 10px 30px;
    border: 1px solid #f48a8a;
    font-size: medium;
    font-weight: bold;
}
.selected{
    background: #f48a8a;
}