.pagination {
  text-align: center;
  margin-top: 30px;
  color: rgb(6, 6, 6);
}
.pagination button {
  padding: 10px 30px;
  border: 1px solid #000000;
  font-size: medium;
  font-weight: bold;
}
.selected {
  background: #000000;
  color: white;
}
